# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/techprep?retryWrites=true&w=majority

# Port
PORT=5000

# Firebase Service Account (path to JSON file)
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
